<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Dogs Barking</string>
	<string>High Pitch</string>
	<string>Neighborhood Dogs Barking</string>
	<string>Special Noise</string>
	<string>beep high</string>
	<string>beep ping</string>
	<string>double horn</string>
	<string>pap</string>
	<string>twink</string>
	<string></string>
</array>
</plist>
